%h3 Help
%p
  Two players take turns adding a letter to the front or back of what is already on the board (player 1 chooses the starting letter).
  %br
  The aim is to force your opponent to complete a word over 4 letters.
  %br
  You can challenge your opponent on your turn, requiring them to show a valid word that can be formed.
%p
  You win if any of the following scenarios eventuate:
%p
  a) You challenge your opponent and they cannot form a real word
  %br
  b) You are challenged by your opponent and you can prove that you can make a real word
  %br
  c) Your opponent creates a real word with 5 letters or more
  %br
  d) Your opponent forfeits the game.