%h3 Instructions
%p
  The <b>aim of the game</b> is to force your opponent to make a word that is 5 or more letters (e.g. “games”).
%p
  <b>How</b> you do this is by taking turns to add a letter to the front or back of what has already been played (player 1 chooses the starting letter).
  %br <b>Tip</b> – use plurals and things like “-ous” or “dis-“ to change who will end the word!
%p
  On your turn <b>you can either</b>
  %ol
    %li Play a letter; or
    %li Challenge your opponent.
%p 
  Aside from your brilliant mind, the other tool at your disposal is <b>power ups</b>. Using one of these will show you the longest word that you could make (using the existing letters) that will lead to you winning. Be careful though! You might accidentally make a word on the way to it!
%p
  A <b>challenge</b> is saying “I don’t believe you can make a word! Show me what you’ve got!”
  %br Your opponent then has to write out the whole word. If it’s a real one, they will win, if not you win.
  %br <b>Note</b> – you cannot change the order of the letters!
%p 
  <b>Winning</b> can happen in 3 ways:
  %ol
    %li You challenge your opponent and they cannot form a real word;
    %li You are challenged by your opponent and you can prove that you can make a real word; or
    %li Your opponent creates a real word of 5 letters or more.
%p 
  <b>Example</b>
  %br You are player 1 and I am player 2:
  %ol
    %li You start the game with a letter of your choice, say "O"
    %li I then put any letter to the front or back, I’ll put an "S" on the end, making "OS"
    %li You put any letter to the front or back, how about an "H" making "HOS" (can you think of words you can still make, like hostile, chosen, those, etc.?)
    %li I then play "T" making "HOST" (it’s a real word but as it’s under 5 letters I do not lose)

%p 
  So how can this game play out still?
%p
  Scenario 1
  %br You play an "S" making "HOSTS". You will lose the game because you’ve made a real word of 5 letters or more.
%p 
  Scenario 2
  %br You challenge me. I then have to fill in the rest of the letters for the word I was thinking of, so I put in "HOSTESS". This gives me the win! Note that the order of letters cannot be changed (e.g. "SHOTS" instead of “HOSTS”).
%p
  Scenario 3
  %br You challenge me. I then complete the word by playing "HOSTYLE". Uh oh! I will lose because the word I formed is not a real word.
%p
  One last thing! If your opponent is taking too long to play a game, please hit the feedback button and let us know. We will contact them and if they still don't play we will end the game for you so that you can play again!
