%h3 Terms and Conditions
%p
  Word Pyramids is the property of Leeu and by registering with Word Pyramids you agree to not attempt to re-create, in any form, the game or a game of substantial similarity.