.game
  %h4
    #{@game.description}
  %p
    %b Current word:
    = @game.current_word
  .pyramid
    .prepend_letter
      %input{:type => "text", :name => "prepend_letter", :class => "text", :maxlength => 1}
    .played_letters
      =@game.current_word
    .append_letter
      %input{:type => "text", :name => "append_letter", :class => "text", :maxlength => 1}