// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3";

.game {
  text-align: center;
  .prepend_letter, .append_letter {
    display: inline-block;
    input {
      width: 20px;
      height: 20px;
      text-align: center;
      text-transform: uppercase;
    }
  }
  .disabled {
    @include opacity(0);
  }
  .hidden {
    display: none;
  }
  #challenge, #challenge_response, #play_again {
    padding: 3px;
    input[type=text] {
      text-align: center;
      text-transform: uppercase;
    }
  }
  .played_letters {
    display: inline-block;
    width: 200px;
    min-height: 40px;
    max-height: 260px;
    overflow: scroll;
  }
  #turn_form {
    display: none;
  }
  #prompt {
    min-height: 20px;
  }
  .btn {
    margin-bottom: 3px;
  }
  #statistics {
    margin: auto;
  }
  table {
    width: 100%;
    //border-collapse: separate;
    //border-spacing: 2px;
    border: 1px #808080 solid;
    td, th {
      border: 1px #808080 solid;
      padding: 3px 10px 3px 10px;
    }
  }

}