%h3 Request Received
Your request for more power ups has been received.
%br
  You will soon receive an email containing instructions detailing the steps you will need to take to obtain more
  power ups.